@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Faça seu cadastro!</h2>
<form action="Post" method="post">

    <label for="nome" >Fornecedor</label>
    <input type="text" name="Fornecedor" id="nome" />
    <br />  <br />

    <label for="nome">Recebedor</label>
    <input type="text" name="Recebedor" id="nome" />
    <br />  <br />

    <label for="nome">Produto</label>
    <input type="text" name="NomeDoItem" id="nome" />
    <br />  <br />

    <label for="nome">Item</label>
    <input type="text" name="Item" id="nome" />
    <br />  <br />

    <label for="nome">Status</label>
    <input type="text" name="Status" id="nome" />
    <br />  <br />

    <label for="nome">DataEmprestimo</label>
    <input type="text" name="DataEmprestimo" id="nome" />
    <br />  <br />

    <label for="nome">Nome completo</label>
    <input type="text" name="Contato.Nome" id="nome" />
    <br />  <br />

    <label for="phone">Celular</label>
    <input type="tel" name="Contato.Celular" id="phone" />
    <br />  <br />

    <label for="nome">Endereço</label>
    <input type="text" name="Contato.Endereco" id="nome" />
    <br />  <br />

    <button type="submit" action="Post">Criar</button>

</form>