

<h2>Por favor, insira seus dados de emprestimo!</h2>
<form action="Post" method="post">

    <label for="nome">Nome do recebedor</label>
    <input type="text" name="Nome" id="nome" />    
    <br />  <br />

    <label for="phone">Celular do recebedor</label>
    <input type="text" name="Tipo" id="phone" />
    <br />  <br />

    <label for="endereco">Endereço do recebedor</label>
    <input type="text" name="Tipo" id="endereco" />
    <br />  <br />
 
    <button type="submit" action="ItemEmprestadoList">Emprestar</button>

</form>
