@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
    <h1>Erro!</h1>
    <h3
        > Por favor digitar um Nome e um Tipo válido!</h3>